<div class="addNote bg-dark text-light rounded-circle p-2 text-center" (click)="toggleColors()">
  <i class="fa-solid fa-plus"></i>
</div>

<div class="person bg-dark text-light rounded-circle p-2 text-center" (click)="toggleInfo()">
  <i class="fa-regular fa-user"></i>
</div>


<div *ngIf="showInfo" class="person-info text-center p-3 d-flex flex-column align-items-center justify0content-center">
  <img *ngIf="imgUrl" class="img-fluid"  [src]="imgUrl" alt="">
  <div class="d-flex align-items-center mb-2 p-3">
    <p class=" ps-2 text-center">{{ fullName }}</p>
  </div>
  <p class="mb-4">{{ email }}</p>
  <div class="btn btn-dark mb-2" (click)="signOut()">Sign Out</div>
</div>




<div class="colors" #colorsContainer>
  <div style="background-color: #FFBD87;" class="rounded-circle mb-2" (click)="addNote('#FFBD87')"></div>
  <div style="background-color: #FF6644;" class="rounded-circle mb-2" (click)="addNote('#FF6644')"></div>
  <div style="background-color: #A5CE35;" class="rounded-circle mb-2" (click)="addNote('#A5CE35')"></div>
  <div style="background-color: #4DC5E6;" class="rounded-circle mb-2" (click)="addNote('#4DC5E6')"></div>
</div>

<div class="container">
  <main class="p-3">
    <div class="row justify-content-center g-4">
      <div
        class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center"
        *ngFor="let note of notes; let i = index">

        <div
          class="p-4 d-flex flex-column justify-content-between note-container"
          [style.backgroundColor]="note.color"
          [attr.data-index]="i"
          >

          <p *ngIf="!note.isEditing" (click)="editNote(i)">
            {{ note.text }}
          </p>

          <div *ngIf="note.isEditing"
               contenteditable="true"
               class="editable-note"
               (blur)="saveNote(i)"
               (keydown.enter)="saveNote(i)">
            {{ note.text }}
          </div>

          <div class="buttons d-flex justify-content-between align-items-center">
            <div
              class="deleteNote bg-dark text-light rounded-circle p-2 text-center"
              style="height: 40px; width: 40px; cursor: pointer;"
              (click)="deleteNote(i,note.noteId)">
              <i class="fa-solid fa-trash"></i>
            </div>

            <div
              class="updateNote bg-dark text-light rounded-circle p-2 text-center"
              style="height: 40px; width: 40px; cursor: pointer;"
              (click)="editNote(i)">
              <i class="fa-solid fa-pencil"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
