/* You can add global styles to this file, and also import other style files */

::selection{
    background-color: rgb(0, 0, 73);
    color: white;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color:  #ff2e9a;
}